*{
  background-color: rgb(231, 224, 224);
  padding: 0;
  margin: 0;
  
}
.app{
  background-color: rgb(237, 228, 228);
  font-family: Arial;
  color:rgb(12, 12, 12);
  text-align: center;  
  display: block;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  height: 100%;
  width: 100%;

}

.head{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(51, 49, 49);
  color: aliceblue;
  margin-top: 0px;
  height: 40px;
  margin-left: 0px;
  padding-left: 0px;
}

.card {
  display: block;
  background-color:rgb(240, 234, 234);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 5px;
  width: 500px;
  display: block;
  align-items: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
 
}

.form{
  background-color: rgb(237, 228, 228);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  
  width: 300px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  
  
  
}
.add-btn{
  background-color: rgb(103, 103, 255);
  color:aliceblue ;
  height: 25px;
  width: 50px;
  border-radius: 4px;
  margin-left: 8px;
  
}
.wish{
  
  border-radius: 5px;
  margin-right: 10px;
  margin-left: -20px;
}
.list{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 234, 234);
  margin-top: 40px;
}
.card2{
  display: flex;
  background-color:rgb(51, 49, 49);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 5px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  height: 100px;
}
.dropdown{
  width: 60px;
  border-radius: 5px;
  margin-right: 1px;
}
.card2-top{
  
  display: flex;
  flex-direction: row;
 
  background: rgb(51, 49, 49);
  margin-top: 0px;
  color: white;
}
.top-left{
  
  align-items: left;
  margin-right: 50px;
  background: rgb(51, 49, 49);
  margin-top: 20px;
  color: white;
}
.top-right{
  
  align-items: left;
  justify-content: center;
  background: rgb(51, 49, 49);
  margin-top: 20px;
  color: rgb(144, 132, 132);
  margin-right: 10px;
  font-size:20px;
}
.card2-bottom{
  background:rgb(51, 49, 49); 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(51, 49, 49);
  margin-top: 20px;
  
  
}
.rmv-btn{
  background-color: rgb(103, 103, 255);
  color:aliceblue ;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  margin-left: 2px;
  
}
.mv-btn{
  background-color: rgb(103, 103, 255);
  color:aliceblue ;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin-left: 2px;
  
}
.dropdown2{
  width: 60px;
  border-radius: 5px;
  
  margin-left: 2px;
}
.error{
  color: brown;
  background-color: rgb(240, 234, 234);
  font-size: 15px;
  margin-top: -12px;
  margin-bottom: -30px;
  text-align: left;
  margin-left: 102px;
}